$white: #ffffff;
$lightGreen: #bfda53;
$green: #96ab41;
$darkGreen: #67762b;
$lightGrey: #f3f3f3;
$lightestGrey: #f9f9f9;
$middleGrey: #acacac;
$darkGrey: #3c3c3c;
$lightblue: aliceblue;
$actions: #ffe600;
