@import "../../styles/modules/colors.scss";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.main {
  display: flex;
  margin: 100px auto;
}

.forms-container {
  padding: 20px;
  background-color: #bfda531a;
  border-radius: 9px;
}
