@import "../../styles/modules/colors.scss";

.container {
  display: flex;
  flex-direction: column;
}

.label {
  font-size: 14px;
  color: $darkGrey;
  margin-bottom: 10px;
}

.asterisk {
  color: red;
}
