.letters {
  position: relative;
  text-transform: uppercase;
  text-shadow: -15px 5px 20px #ced0d340;
  color: white;
  letter-spacing: -0.05em;
  font-weight: 600;
  user-select: none;
  text-transform: uppercase;
  font-size: 150px;
  transition: all 0.25s ease-out;

  &:nth-child(2) {
    margin: 0 20px;
  }

  &:hover {
    text-shadow: -16px 6px 15px #ced0d390;
  }
}
